.top-side-navbar-phone-email {

    font-family: Alike;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.56px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.top-side-row-navbar {
    flex-direction: row;
    justify-content: space-between;
}

.top-side-row-navbar input {
    border-radius: 0;
}

.top-side-row-navbar button {
    background-color: #1E4489;
    color: white;
    border-radius: 0%;
}

/* Top Strip Show/Hide Transitions */
.top-strip {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.top-strip.hide {
    transform: translateY(-100%);
    opacity: 0;
}

.top-strip.show {
    transform: translateY(0);
    opacity: 1;
}

/* Sticky Navbar Styles */
.sticky-navbar {
    background-color: white;
    /* Ensure visibility over content */
    transition: transform 0.3s ease-in-out;
}

/* General Button Styling */
.navbar .btn {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 0px;
}




/* Bottom Navbar - Sticky by default */
.bottom-navbar {
    position: sticky;
    top: 0;
    z-index: 1020;
    width: 100%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background-color: none !important;
    display: flex;
    justify-content: center;
    /* Center the navbar horizontally */
    align-items: center;
    /* Center content vertically */
}

.bottom-down-navbar {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

/* Bottom Navbar - Fixed when scrolling */
.bottom-navbar.fixed {
    position: fixed;
    top: 0;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    width: 100%;
    /* Ensure full width when fixed */
}

/* Smooth transition styles */
.bottom-navbar.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

.bottom-navbar.visible {
    transform: translateY(0);
    opacity: 1;
}




@media (max-width: 576px) {

    .navbar-collapse {
        max-width: 100%;
        width: 100%;
    }

    .top-navbar-searchbutton {
        display: none;
    }

    .top-navbar-colmmn-logo {
        text-align: left !important;
    }

    .bottom-down-navbar {
        display: flex !important;
        flex-wrap: inherit;
        align-items: end !important;
        justify-content: flex-end !important;
        flex-direction: column;
        margin-top: -46px;
    }

    .bottom-down-navbar-button {
        /* margin-top: -20px; */
        display: flex !important;
        flex-wrap: inherit;
        align-items: end !important;
        justify-content: flex-end !important;
        flex-direction: column;
    }
}